.dashboard-container{
display: flex;
flex-direction: column;
padding: 1rem;
}

.tab-buttons{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   gap: 1rem;
   margin-bottom: 0.1rem;
   flex-wrap: wrap;
}
.tablink{
   background-color: white;
   border: none;
   padding: 0.75rem 1.5rem;
   border-radius: 0.5rem;
   cursor: pointer;
   font-weight: bold;
   transition: 0.3s;
}

.tablink:hover{
   background-color: rgb(186, 204, 202);
}

.tablink:active{
   background-color: rgb(186, 204, 202);
}

.tabcontent{
   background-color: white;
   padding: 1rem;
   border-radius: 0.75rem;
   box-shadow: 0 4px 12px rgba(0,0,0,0.1);
   overflow-y: auto;
}